<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        Posted By: {{ postData()?.postedByUserId }}
      </mat-card-title>
      <mat-card-subtitle>
        Posted on: {{ postData()?.dateCreated }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    Posted By: {{ postData()?.postBody }}
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions align="end">
      <button matButton="outlined">Close</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
